.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meus-filmes h2{
    margin-bottom: 14px;
}

.meus-filmes span{
    font-size: 18px;
}

.meus-filmes ul{
    width: 720px;
}

.meus-filmes ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a{
    text-decoration: none;
    color: #000;
    margin-right: 14px;
    padding: 5px;
    background-color: #DDD800;
    border-radius: 4px;
    transition: all 0.5s;
}

.meus-filmes div a:hover{
    color: #FFF;
    background-color: #E1DC00;
}

.meus-filmes button{
    font-size: 15px;
    color: #fff;
    outline: none; 
    border: 0;
    background-color: brown;
    border-radius: 4px;
    padding: 5px;
    transition: all 0.5s;
}

.meus-filmes button:hover{
    background-color: #CE2400;
    color: black;
}
